<!DOCTYPE html>
<html lang="az">
  <%- include("partials/_head") %>

  <body id="err404">
    <%- include("partials/_navbar",{link : null}) %>

    <div class="container">
      <h1>404</h1>
      <h2>Aydaaa!</h2>
      <h3>Axtardığınız səhifə mövcud deyil</h3>
    </div>
  </body>
</html>
