<!DOCTYPE html>
<html lang="az">
  <!-- HEAD -->
  <%- include("partials/_head") %>

  <body>
    <!-- HEADER -->
    <%- include("partials/_navbar") %> <%- include("partials/_flash") %>

    <!-- HOME -->

    <section id="home">
      <div class="container">
        <h2><span>Öyrənin</span> və özünüzü gücləndirin</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
          delectus sed cum aspernatur optio praesentium id voluptatum ipsum?
          Nostrum odit modi explicabo officia ab ea aliquid aut, incidunt
          eligendi. Voluptate.
        </p>

        <% if(!user){ %>
        <div class="auth-links">
          <a href="/login">Giriş</a>
          <a href="/signup">Qeydiyyat</a>
        </div>
        <% }%>

        <div class="copyright"><i class="bx bx-copyright"></i>2023 KODEXE</div>
      </div>
    </section>
  </body>
</html>
