<!DOCTYPE html>
<html lang="az">
  <%- include("partials/_head") %>

  <body>
    <%- include("partials/_navbar") %>

    <section id="problems">
      <div class="container">
        <div class="problem">
          <div class="left">
            <h3>Ədəd Məsələsi</h3>
            <p>
              <span class="easy">Asan</span>, Xal : 10, Həlletmə dərəcəsi : 97%
            </p>
          </div>
          <a href="/problemset/">Həll Et</a>
        </div>
        <div class="problem">
          <div class="left">
            <h3>Kitablar</h3>
            <p>
              <span class="medium">Orta</span>, Xal : 20, Həlletmə dərəcəsi :
              64%
            </p>
          </div>
          <a href="/problemset/">Həll Et</a>
        </div>
        <div class="problem">
          <div class="left">
            <h3>Şah kimdir?</h3>
            <p>
              <span class="hard">Çətin</span>, Xal : 30, Həlletmə dərəcəsi : 23%
            </p>
          </div>
          <a href="/problemset/">Həll Et</a>
        </div>
      </div>
    </section>

    <script src="./js/navbar.js"></script>
  </body>
</html>
