<!DOCTYPE html>
<html lang="az">
  <%- include("partials/_head") %>

  <body>
    <%- include("partials/_navbar") %>

    <!-- PROBLEM -->

    <section id="problem">
      <div class="container">
        <div class="nav">
          <ul>
            <li><a href="/problems/1">Məsələ</a></li>
            <li><a href="/problems/1/solutions">Həlləriniz</a></li>
            <li><a href="/problems/1/discussion">Müzakirə</a></li>
            <li><a href="/problems/1/solutions">Həllər</a></li>
          </ul>
        </div>

        <h1>Ədəd Məsələsi</h1>

        <div class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
          veritatis, incidunt in quas quo quam numquam quae reiciendis explicabo
          expedita voluptatum doloremque officiis, obcaecati animi iste, ducimus
          esse tenetur. Beatae deserunt totam similique impedit nostrum
          sapiente. Nostrum ea eum pariatur aut sapiente est dolorum quaerat
          natus laborum, maiores, nemo velit saepe! Temporibus, dolore quos! Sed
          officiis eius rerum ad nesciunt.
        </div>

        <div class="examples">
          <div class="example">
            <div class="left">
              <span>Giriş:</span>
              <p>5<br />1 2 3 4 5</p>
            </div>
            <div class="right">
              <span>Çıxış:</span>
              <p>15</p>
            </div>
          </div>
        </div>

        <a class="send" href="/problems/1/solution">Həlli Göndər</a>
      </div>
    </section>
  </body>
</html>
