#err404 {
  background: url("../img/nodes.svg"),
    linear-gradient(0deg, rgba(72, 243, 129, 0.1), $white);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;

    h1,
    h2 {
      color: $dark-blue;
    }

    h1 {
      font-size: 8em;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: $dark;
    }

    h2 {
      font-size: 4em;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 600;
      color: $light-dark;
    }
  }
}
