$light: rgb(245, 245, 245);
$white: #fff;
$dark-blue: #03071e;
$dark: #202020;
$light-dark: #505050;
$light-dark-o: rgba(80, 80, 80, 0.4);
$dark-shadow: rgba(0, 0, 0, 0.05);
$red: #d00000;
$green: #19c587;
$green-o: rgba(25, 197, 134, 0.75);
$orange: #f85e00;
$easy: #1f9a65;
$medium: rgb(248, 148, 34);
$hard: rgb(232, 36, 36);
$dark: #202020;
