section#home {
  height: 100%;
  width: 100%;
  background: url("../img/nodes.svg"),
    linear-gradient(0deg, rgba(72, 243, 129, 0.1), $white);
  background-size: cover;
  background-position: top;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      color: $dark-blue;
      font-size: 3em;
      text-align: center;
      animation: opening 1s;

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: $dark-blue;
      }
    }
    p {
      text-align: center;
      max-width: 90%;
      font-size: 1em;
      color: $light-dark;
      padding: 1em 0;
      animation: opening 1s;
    }

    @keyframes opening {
      from {
        opacity: 0;
        transform: translateY(40%) scale(0.9);
      }
      to {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }

    .copyright {
      position: absolute;
      bottom: 1rem;
      z-index: 100;
      display: flex;
      align-items: center;
    }

    .auth-links {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        margin: 0 0.5rem;
        text-decoration: none;
        font-size: 1.25em;
        color: $dark-blue;
        border: 1px solid $dark-blue;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        transition: 100ms ease-in;

        &:nth-child(2) {
          background: $green;
          border-color: $green;
          color: $white;
        }
      }
    }
  }
}
