@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");

@import "colors";

section#problem {
  align-items: flex-start;
  padding: 2rem 0;
  min-height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem $dark-shadow;
    padding: 2rem 2em;
    box-sizing: border-box;

    .constraints {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.1em;
        color: $dark-blue;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }

      p {
        color: $light-dark;
        margin-bottom: 1.5rem;
      }
    }

    .nav {
      display: flex;
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 1rem;
      box-sizing: border-box;

      ul {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;

        li {
          &:first-child {
            a {
              border-radius: 0.5rem 0 0 0.5rem;
            }
          }

          &:last-child {
            a {
              border-radius: 0 0.5rem 0.5rem 0;
            }
          }

          a {
            text-decoration: none;
            color: $dark-blue;
            background: $light;
            padding: 0.5rem 1rem;
            font-size: 1em;

            &.active {
              background: $green-o;
              color: $white;
            }
          }
        }
      }
    }

    h1 {
      display: flex;
      align-items: center;
      color: $dark-blue;
      margin-bottom: 0.5rem;
    }

    .description {
      margin-bottom: 1.5rem;
      color: $light-dark;
    }

    p {
      color: $dark;
    }

    .examples {
      display: flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;

      .example {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        box-sizing: border-box;

        @media screen and (max-width: 525px) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
        }

        span {
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1em;
        }

        .left,
        .right {
          background: $light;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          height: 100%;
          box-sizing: border-box;

          @media screen and (max-width: 525px) {
            width: 100%;
            margin: 0.25rem 0;
          }
        }
      }

      margin-bottom: 1rem;
    }

    .send {
      text-decoration: none;
      color: $white;
      background: $green;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      align-self: flex-end;
      font-size: 1em;
    }

    .h-line {
      margin-bottom: 0;
    }

    form {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        padding: 0;
        margin: 0;

        label {
          font-size: 1rem;
          font-weight: 500;
        }

        h3 {
          font-size: 1.5em;
          font-weight: 600;
          margin-bottom: 2rem;
          color: $dark-blue;
        }

        .language {
          display: flex;
          align-self: flex-start;
          align-items: center;
          margin-bottom: 1.5rem;

          select {
            padding: 0.5rem 1rem;
            border: 1px solid $light-dark;
            color: $dark-blue;
            border-radius: 0.25rem;
            outline: none;
            background: none;
          }

          label {
            margin-right: 1rem;
          }
        }

        .code {
          align-self: flex-start;
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          width: 100%;

          label {
            margin-bottom: 1rem;
          }

          textarea {
            width: 100%;
            height: 400px;
            outline: none;
            border-radius: 0.25rem;
            padding: 0.5rem 0.25rem;
            box-sizing: border-box;
            font-family: "Roboto Mono", sans-serif;
            color: $dark-blue;
          }

          .CodeMirror {
            border-radius: 0.25rem;
            padding: 1rem 0;
            overflow: hidden;
            height: 400px;
          }
        }

        button {
          align-self: flex-start;
          background: $green;
          border: none;
          outline: none;
          color: $white;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          cursor: pointer;

          &.disabled {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
    }

    .result {
      display: flex;
      align-items: center;
      justify-content: center;

      .container {
        display: flex;
        flex-direction: column;
        color: $dark-blue;
        margin: 0;
        padding: 0;
        box-shadow: none;

        h4 {
          margin: 0.5rem 0;
          font-weight: 600;
          font-size: 1em;
        }

        h3 {
          margin-bottom: 0.5rem;
          font-size: 1.25em;
        }

        p {
          color: $light-dark;
          font-size: 1em;

          &.error {
            color: $red;
          }

          &.accepted {
            color: $easy;
          }
        }

        span.success {
          font-size: 3em;
          font-weight: 600;
          letter-spacing: 0.05em;
          color: $green;
          padding: 1rem 0;
          animation: 1s success infinite alternate;
        }

        @keyframes success {
          from {
            letter-spacing: 0.2rem;
          }
          to {
            letter-spacing: 0.05rem;
          }
        }

        .output {
          margin-top: 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;

          @media screen and (max-width: 525px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
          }

          div {
            background: $light;
            padding: 0.75rem 1rem;
            border-radius: 0.25rem;
          }
        }
      }
    }
  }
}
