@import "colors";

section#profile {
  padding: 0 1rem;
  box-sizing: border-box;
  align-items: flex-start;

  .container {
    background: $white;
    padding: 1rem;
    margin-top: 2rem;
    color: $dark-blue;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;

    .top {
      display: grid;
      grid-template-columns: 20% 70%;
      grid-gap: 2rem;
      align-items: center;

      @media screen and (max-width: 768px) {
        grid-gap: 1rem;
      }

      img {
        width: 100%;
        border-radius: 50%;
      }

      .info {
        display: flex;
        flex-direction: column;

        h1 {
          font-weight: 600;
          display: flex;
          align-items: center;

          .badge {
            font-size: 0.5em;
            font-weight: 500;
            border: 1px solid $light-dark;
            background: $light;
            margin-left: 0.5rem;
            padding: 0.1rem 0.25rem;
            border-radius: 0.5rem;
          }
        }

        .username {
          color: $light-dark;
          font-weight: 400;
          font-size: 1em;
          margin-bottom: 0.5rem;
        }
      }
    }

    .description {
      color: $light-dark;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-weight: 500;
      font-size: 1.25em;
      margin-bottom: 0.25rem;
      color: $dark-blue;
      font-weight: 400;

      span {
        font-weight: 500;
      }
    }
  }
}
